@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
button{
    padding: 1.5rem;
    border-radius: 0.4rem;
    margin: 2px;
    background-color: orange;
    font-weight: bold;
}
.calculator{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 306px; 
    align-items: center;
    justify-content: center;
    margin: 100px auto;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
}
.operations{
    display: flex;
    flex-direction: column;
}
.digits{
    display: flex;   
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end; 
}
.display{
    margin-bottom: 7px;
    margin-left: 240px;
}
