*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
button{
    padding: 1.5rem;
    border-radius: 0.4rem;
    margin: 2px;
}
.calculator{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 306px; 
    align-items: center;
    justify-content: center;
    margin: 100px auto;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
}
.operations{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.digits{
    display: flex;   
    /* justify-content: space-between; */
    /* gap: 0.4rem; */
    flex-wrap: wrap;
    /* flex-direction: row; */
    /* flex-wrap: wrap;  */
    align-items: center;
    justify-content: flex-end; 
}  
/* .left{
    display: flex;
    flex-direction: column; 
}  */
/*
 .right{
    /* display: flex;
    flex-direction: column; */
/* } */

